<div class="flex justify-center">
  <h2 class="font-extrabold text-4xl mb-20 border-b-2 border-black pb-2">
    CONTACTO
  </h2>
</div>
<div class="flex justify-center">
  <div class="w-full flex gap-5">
    <div class="w-2/4">
      <form class="grid grid-cols-2 gap-5 bg-white px-5 py-4 rounded-md">
        <div class="col-span-2">
          <h3 class="text-center font-bold text-2xl mb-5">¿Va a pensarlo?</h3>
          <p class="text-center font-semibold text-md">Envianos tu consulta y te responderemos a la brevedad</p>
        </div>
        <div class=" flex flex-col">
          <label for="name">*Nombre</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="text"
            placeholder="Nombre"
          />
        </div>
        <div class=" flex flex-col">
          <label for="lastname">*Apellido</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="text"
            placeholder="Apellido"
          />
        </div>
        <div class="col-span-2 flex flex-col">
          <label for="cellphone">*Telefono</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="text"
            placeholder="Telefono"
          />
        </div>
        <div class="col-span-2 flex flex-col">
          <label for="email">*Email</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="email"
            placeholder="Email"
          />
        </div>
        <div class="col-span-2 flex flex-col">
          <label for="date">*Fecha tentativa del evento</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="date"
            placeholder="Fecha tentativa del evento"
          />
        </div>
        <div class="col-span-2 flex flex-col">
          <label for="cant">*Cant. aprox de invitados</label>
          <input
            class="rounded-md border-none focus:ring-0"
            type="text"
            placeholder="Cant. aprox de invitados"
          />
        </div>
      </form>
    </div>
    <div class="w-2/4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.1967236155224!2d-97.87007369999999!3d22.308398599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d7f9cf6b21369f%3A0xa269c54e08512fa0!2sKasagua%20Evento!5e0!3m2!1ses-419!2smx!4v1732918296234!5m2!1ses-419!2smx"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        width="100%"
        height="100%"
        class="bg-white p-2 rounded-md"
      ></iframe>
    </div>
  </div>
</div>
