<div class="mb-20">
  <h2 class="text-white text-center text-3xl md:text-5xl font-bold">
    Otros servicios
  </h2>
  <p class="text-center md:p-0 px-5 text-white">
    Pensando en su total comodidad, en KASAGUA contamos con una variedad de
    servicios adicionales. <br> Despreocúpese y déjelo en nuestras manos.
  </p>
</div>
<div class="flex justify-center">
  <ul class="grid grid-cols-3 md:grid-cols-5 gap-10 text-white uppercase w-5/6">
    <li>
      <span class="flex flex-col items-center text-center" id="item1" #items1>
        <img src="icons/1_recepcion.png" alt="Recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Recepcion <br />
        24 horas
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/10_valet.png" alt="Estacionamiento" [ngClass]="{'moveImg': visibleItem1}" />
        Estacionamiento <br />
        24 horas
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/4_servicio_cuarto.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Room service <br />
        24 horas
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/10_valet.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Valet parking
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/12_concierge.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Consierge <br />
        24 horas
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/5_medico.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Servicio medico <br />
        (bajo peticion) ($)
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/6_niñera.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Servicio de niñera <br />
        (bajo peticion) ($)
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/7_cuna.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Cunas <br />
        (bajo peticion) ($)
      </span>
    </li>
    <li>
      <span class="flex flex-col items-center text-center">
        <img src="icons/8_lavanderia.png" alt="recepcion" [ngClass]="{'moveImg': visibleItem1}" />
        Lavaderia y <br />
        tintoreria ($)
      </span>
    </li>
  </ul>
</div>
