.containerN{
  background-image: url('../../../../public/img/5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
img{
  width: 50%;
}
.nosChildren{
  transform: translateX(100%);
  opacity: 0;
  animation: viewNosotros 1s ease-out forwards;
}
.notVisible{
  transform: translateX(100%);
}
.container{
  width: 50%;
  background-color: #F6F6F6;
}
@keyframes viewNosotros {
  from{
    opacity: 0;
    /* transform: translateX(100%); */
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
