<div class="containerN pt-14 pb-20">
  <div
    class="flex justify-center w-full relative"
    [ngClass]="{ nosChildren: visible }"
    #nosotros
  >
    <div class="container p-10 rounded-md">
      <h2 class="font-bold text-2xl text-center mb-5">¿Quienes somos?</h2>
      <p class="font-extralight">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo veritatis
        nulla cum voluptates optio a eius? Commodi, vero laudantium, iure dolor
        nesciunt odit nisi nulla autem mollitia, officiis eos. Ab. Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Reiciendis totam eum est
        facilis earum illum voluptate sapiente dolores porro fugit, itaque
        recusandae quisquam ducimus quasi autem aspernatur! Hic, ab quia. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Fugiat perferendis
        quis, quia eligendi error veniam harum mollitia quisquam pariatur quam
        ut enim velit doloremque numquam quas illo. Minima, facere maxime!
      </p>
    </div>
  </div>
</div>
