<header class="header">
  <nav class="flex justify-between text-white font-bold px-5 py-3 items-center w-full">
    <a routerLink="#"><img src="img/logoK.png" alt="Novedade-ar" class="w-32"></a>
    <div class="flex gap-5">
      <ul class="hover:text-gray-200"><a routerLink="home">Inicio</a></ul>
      <ul class="hover:text-gray-200">Nosotros</ul>
      <ul class="hover:text-gray-200">Paquetes</ul>
      <ul class="hover:text-gray-200">Anuncios</ul>
      <ul class="hover:text-gray-200">Contactos</ul>
      <ul class="hover:text-gray-200">Blog</ul>
    </div>
  </nav>
</header>
