@import url('https://fonts.googleapis.com/css2?family=Prata&family=Yuji+Mai&display=swap');

.slider{
  background-image: url('../../../../public/img/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
}
h1{
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.presentation{
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
#contacto{
  background-color: #F6F6F6;
}
#servicios{
  background-color: #161616;
}
.up{
  background-color: #1f1f1f;
  animation:up 0.5s alternate infinite;
  animation-delay: 3s;
}
.up:hover{
  animation-play-state: paused;
}
@keyframes up {
  to{
    transform: translateY(5px);
  }
}
footer{
  background-color: #161616;
}
@media (max-width: 768px) {
  .slider{
    height: 30vh;
  }
}
