<app-nav-bar></app-nav-bar>
<div class="slider mb-20">
  <div class="flex items-center flex-col justify-center h-full">
    <h1 class="font-extrabold text-white text-8xl">KASAGUA</h1>
    <h2 class="text-4xl text-white presentation">{{ textPresentation }}</h2>
  </div>
</div>

<div #flag>

  <section class="mx-5 mb-20" id="paquetes">
    <div *ngIf="!visible">
      <button class="fixed right-5 z-20 bottom-5 rounded-full text-white py-1 px-3 text-2xl up" routerLink="/">^</button>
    </div>
    <app-paquetes></app-paquetes>
  </section>


<section id="servicios" class="mb-20 py-10">
  <app-servicios></app-servicios>
</section>


<section class="overflow-hidden mb-20" id="nosotros">
  <app-nosotros></app-nosotros>
</section>


<section id="contacto" class="mb-20 pt-10 pb-20 px-20">
  <app-contacto></app-contacto>
</section>

</div>


<footer class="p-10">
  <p class="text-center text-white">
    &copy; 2022 KASAGUA. Todos los derechos reservados.
  </p>
</footer>
