@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ga+Maamli&display=swap');
.header{
  background-image: url('../../../../public/img/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
}
a{
  text-shadow: 0 4px 2px rgb(0, 0, 0);
}
nav{
  animation: navbar ease-out;
  animation-timeline: scroll(root);
}
h1{
  font-family: "Bungee Spice", sans-serif;
  font-style: normal;
}
.presentation{
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.paquete_img_div{
  background-color: rgb(165, 139, 78);
}
.img_paquete{
  width: 98%;
}
.nosotrosImg{
  transform: scale(3px);
  transition: 0.2s ease-in-out;
}
.nosotrosImg:hover{
  transform: scale(1.1);
}
.nosChildren{
  transform: translateX(100%);
  opacity: 0;
  animation: viewNosotros 1s ease-out forwards;
}
@keyframes viewNosotros {
  from{
    opacity: 0;
    /* transform: translateX(100%); */
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes navbar{
  0%{
    opacity: 1;
  }
  30%{
    opacity: .8;
    background-color: black;
  }
  100%{
    opacity: .8;
    background-color: black;
  }
}
