<div class="flex justify-center">
  <h2 class="font-extrabold text-4xl mb-20 border-b-2 border-black pb-2">
    PAQUETES
  </h2>
</div>
<ul>
  <li class="flex mb-10 overflow-hidden">
    <div class="flex flex-col items-center px-10 py-32 w-2/4 container" [ngClass]="{'visible_container': visible1}" id="img1" #img1>
      <h3 class="text-center font-bold text-4xl mb-5 text-gray-800">CASA</h3>
      <ul>
        <li class="text-center mb-5 font-bold text-gray-900">
          <span>$9,000.00</span>
        </li>
        <li>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quis
            omnis praesentium quasi repudiandae, quaerat assumenda. Recusandae
            at, veritatis aspernatur sint harum ducimus saepe vel vero quidem
            natus repellendus iusto!
          </p>
        </li>
      </ul>
    </div>
    <div class="paquete_img_div_right w-2/4 flex justify-end relative" [ngClass]="{'img1': visible1}" >
      <img
        src="img/5.jpg"
        alt="paquete 1"
        class="img_paquete absolute -top-4 left-4 h-full"
      />
    </div>
  </li>
  <li class="flex flex-row-reverse mb-10">
    <div class="flex flex-col items-center px-10 py-32 w-2/4 container" [ngClass]="{'visible_container': visible2}" id="img2" #img2>
      <h3 class="text-center font-bold text-4xl mb-5 text-gray-800">JARDIN</h3>
      <ul>
        <li class="text-center mb-5 font-bold text-gray-900">
          <span>$10,000.00</span>
        </li>
        <li>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quis
            omnis praesentium quasi repudiandae, quaerat assumenda. Recusandae
            at, veritatis aspernatur sint harum ducimus saepe vel vero quidem
            natus repellendus iusto!
          </p>
        </li>
        <li>
          <span>Temperatura:{{temperature}}</span>
          <span>PH:{{ph}}</span>
        </li>
      </ul>
    </div>
    <div class="paquete_img_div w-2/4 flex relative" [ngClass]="{'img2': visible2}">
      <img
        src="kasagua/3.jpg"
        alt="paquete 1"
        class="img_paquete absolute -bottom-4 right-4 h-full"
      />
    </div>
  </li>
  <li class="flex mb-20 overflow-hidden">
    <div class="flex flex-col items-center px-10 py-32 w-2/4 container" [ngClass]="{'visible_container': visible3}" id="img3" #img3>
      <h3 class="text-center font-bold text-4xl mb-5 text-gray-800">
        CASA Y JARDIN
      </h3>
      <ul>
        <li class="text-center mb-5 font-bold text-gray-900">
          <span>$15,000.00</span>
        </li>
        <li>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quis
            omnis praesentium quasi repudiandae, quaerat assumenda. Recusandae
            at, veritatis aspernatur sint harum ducimus saepe vel vero quidem
            natus repellendus iusto!
          </p>
        </li>
      </ul>
    </div>
    <div class="paquete_img_div_right w-2/4 flex justify-end relative"  [ngClass]="{'img1': visible3}" >
      <img
        src="img/1.jpg"
        alt="paquete 1"
        class="img_paquete absolute -top-4 left-4 h-full"
      />
    </div>
  </li>
</ul>
